*{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Times New Roman', Times, serif;
}

#header{
 text-align: center;
 text-transform: capitalize;
color: hsl(0, 0%, 8%);
}

.items{
    font-size: 20px;
    padding: 5px;
}

#img{
 width: 30%;
 /* height: 400px; */
}

a{
    text-decoration: none;
}